<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Life Pro Tips</title>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
</head>
<body>
    <h1 style="text-align: center;">Life Pro Tips</h1>
    {% block content %}
    {% endblock %}
    <script>
        function test(){
            xhr = new XMLHttpRequest();
            xhr.open('GET', '/get_user_name');
            xhr.send();
            xhr.onload = function() {
                if (xhr.status == 200) {
                    u_name = document.getElementById('user_name');
                    n_u_name = xhr.response;
                    if (u_name.textContent != n_u_name) {
                        u_name.textContent = n_u_name
                    }
                }
            };                        
            setTimeout(test, 1000);
        }
        setTimeout(test, 1000);
    </script>
</body>
</html>